.app {
  min-height: 100%;
  display: grid;
  place-items: center;
}

.cont {
  display: grid;
  width: fit-content;
  grid-template-rows: 1fr 1fr;
}

.buttons {
  display: flex;
  gap: 2rem;
}

.display {
  text-align: center;
  padding-top: 2rem;
  font-size: 20px;
}

.modes-selector {
  margin-bottom: 2rem;
}
